*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

 body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
} 



.container {
width: 380px;
position: relative;
border-radius: 5px;
overflow: hidden;
color: white;
box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;



}

.container .slider {
width: 200%;
position: relative;
transition: transform ease-out 0.3s;
display: flex;
}

#register_toggle {
display: none;
}

.container #register_toggle:checked + .slider {
transform: translateX(-50%);
}

.form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
padding: 1.5em 3em;
width: 500px;

background-image: linear-gradient(to left, rgba(251, 158, 23, .7) , orange); 

}

.title {
text-align: center;
font-weight: 700;
font-size: 2em;
color: black;
}

form .form_control {
width: 100%;
position: relative;
overflow: hidden;
}

form .form_control .label {
position: absolute;
top: 50%;
left: 10px;
transition: transform ease 0.2s;
transform: translate(0%, -50%);
font-size: 14px;
user-select: none;
pointer-events: none;
color: black;

}

form .form_control .input {
width: 100%;
height: 40px;
background-color: white;
border: none;
outline: none;
color: black;
padding: 0.5rem;
font-size: 0.75rem;
border-radius: 5px;
transition: box-shadow ease 0.2s;
box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

form .form_control .input:focus,
form .form_control .input:valid {
box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

form .form_control .input:focus + .label,
form .form_control .input:valid + .label {
transform: translate(-150%, -50%);
}

form button {
width: 100%;
height: 40px;
background-color: black;
border: none;
outline: none;
color: #fff;
padding: 0.5rem;
font-size: 0.75rem;
border-radius: 5px;
transition: box-shadow ease 0.1s;
box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

form button:active {
box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

.bottom_text {
font-size: 0.65em;
color: black;
font-size: 18px;

}
.bottom_text .swtich {
font-weight: 700;
cursor: pointer;
color: white;
}
.bottom_text .swtich:hover{
  font-size: 19px;
  color: blue;
}
